html,
body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#simulation {
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.head {
    text-align: center;
    /* padding-top: 50px; */
    /* font-size: 18px; */
    color: #666;
}

.acknowledgements {
    text-align: center;
    padding: 50px;
    font-size: small;
    color: #666;
}